@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("logOff", "account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Γειά σου, " + User.Identity.GetUserName() + "!", "index", "manage", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Έξοδος</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right mr-auto">
        <li class="nav-item">@Html.ActionLink("Εγγραφή", "register", "account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Είσοδος", "login", "account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
    </ul>
}
